<h2 class="content-block">اطلاعات حساب</h2>
<div class="content-block">
    <div class="dx-card responsive-paddings">
        <dx-text-box class="w-75 w-md-100 my-4 mx-auto" name="accountName" label="نام بانک" labelMode="floating"
            [(value)]="formData.accountName">
        </dx-text-box>
        <dx-text-box class="w-75 w-md-100 my-4 mx-auto" name="cardNumber" label="شماره کارت" labelMode="floating"
            [(value)]="formData.cardNumber">
        </dx-text-box>
        <dx-text-box class="w-75 w-md-100 my-4 mx-auto" name="accountNumber" label="شماره حساب" labelMode="floating"
            [(value)]="formData.accountNumber">
        </dx-text-box>
        <dx-text-box class="w-75 w-md-100 my-4 mx-auto" name="shebaNumber" label="شماره شبا" labelMode="floating"
            [(value)]="formData.shebaNumber">
        </dx-text-box>
        <div class="d-flex justify-center w-25 w-md-100 mx-auto">
            <dx-button *ngIf="formMode==='add'" type="default" text="ثبت" class="w-100 mt-4"
                (onClick)="addAccountData()">
            </dx-button>
            <dx-button *ngIf="formMode==='edit'" type="default" text="ویرایش" class="w-100 mt-4"
                (onClick)="editAccountData()">
            </dx-button>
        </div>
    </div>
</div>

<h2 class="content-block">حساب های من</h2>
<div class="content-block">
    <div class="dx-card responsive-paddings list-container">
        <dx-list height="100%" [dataSource]="myAccounts" itemTemplate="listItem" [grouped]="true"
            [collapsibleGroups]="true" [searchEnabled]="true" searchMode="contains" searchExpr="key"
            noDataText="حسابی ثبت نشده است!">
            <div *dxTemplate="let item of 'listItem'">
                <div class="d-flex justify-end">
                    <dx-button icon="edit" stylingMode="text" class="text-info" (onClick)="handleEditAccount(item)">
                    </dx-button>
                    <dx-button icon="trash" stylingMode="text" type="danger" (onClick)="deleteAccountData(item.id)">
                    </dx-button>
                </div>
                <div class="d-flex flex-md-column items-center">
                    <p class="label ms-3" style="width: 90px;">شماره کارت:</p>
                    <div class="d-flex items-center">
                        <p class="ms-3">
                            {{item.card}}
                        </p>
                        <dx-button [cdkCopyToClipboard]="item.card" id="copyCard" icon="copy" stylingMode="text"
                            type="success" (cdkCopyToClipboardCopied)="showCopyToClipboard('copyCard',item.card)">
                        </dx-button>
                        <dx-tooltip target="#copyCard" showEvent="mouseenter" hideEvent="mouseleave"
                            [hideOnOutsideClick]="false">
                            <div *dxTemplate="let data = data; of: 'content'">کپی شماره کارت</div>
                        </dx-tooltip>
                    </div>
                </div>
                <div class="d-flex flex-md-column items-center mt-2">
                    <p class="label ms-3" style="width: 90px;">شماره حساب:</p>
                    <div class="d-flex items-center">
                        <p class="ms-3">
                            {{item.account}}
                        </p>
                        <dx-button [cdkCopyToClipboard]="item.account" id="copyAccount" icon="copy" stylingMode="text"
                            type="success" (cdkCopyToClipboardCopied)="showCopyToClipboard('copyAccount',item.account)">
                        </dx-button>
                        <dx-tooltip target="#copyAccount" showEvent="mouseenter" hideEvent="mouseleave"
                            [hideOnOutsideClick]="false">
                            <div *dxTemplate="let data = data; of: 'content'">کپی شماره حساب</div>
                        </dx-tooltip>
                    </div>
                </div>
                <div class="d-flex flex-md-column items-center mt-2">
                    <p class="label ms-3" style="width: 90px;">شماره شبا:</p>
                    <div class="d-flex items-center">
                        <p class="ms-3">
                            {{item.sheba}}
                        </p>
                        <dx-button [cdkCopyToClipboard]="item.sheba" id="copySheba" icon="copy" stylingMode="text"
                            type="success" (cdkCopyToClipboardCopied)="showCopyToClipboard('copySheba',item.sheba)">
                        </dx-button>
                        <dx-tooltip target="#copySheba" showEvent="mouseenter" hideEvent="mouseleave"
                            [hideOnOutsideClick]="false">
                            <div *dxTemplate="let data = data; of: 'content'">کپی شماره شبا</div>
                        </dx-tooltip>
                    </div>
                </div>
                <div class="d-flex flex-column justify-center items-end text-small text-disable mt-2">
                    <div class="d-flex justify-end items-center w-100 column-gap">
                        <div *ngIf="item.insertUserName?.length>0" class="d-flex justify-evenly items-center">
                            <p class="ms-1">ثبت کننده:</p>
                            <p>{{item.insertUserName}}</p>
                        </div>
                        <div *ngIf="item.insertDate?.length>0" class="d-flex justify-evenly items-center">
                            <p class="ms-1">تاریخ ثبت:</p>
                            <p>{{item.insertDate}}</p>
                        </div>
                    </div>
                    <div class="d-flex justify-end items-center w-100 column-gap">
                        <div *ngIf="item.updateUsername?.length>0" class="d-flex justify-evenly items-center">
                            <p class="ms-1">آخرین ویرایش کننده:</p>
                            <p>{{item.updateUsername}}</p>
                        </div>
                        <div *ngIf="item.updateDate?.length>0" class="d-flex justify-evenly items-center">
                            <p class="ms-1">تاریخ آخرین ویرایش:</p>
                            <p>{{item.updateDate}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </dx-list>
    </div>
</div>