<h2 class="content-block">کارکردهای پرسنل</h2>
<div class="dx-card wide-card mx-4 pb-5">
    <div class="d-flex flex-column justify-center my-4">
        <div class="d-flex mx-4 mb-5">
            <dx-select-box [(value)]="pageData.selectedDepartment" [dataSource]="pageData.department" valueExpr="name"
                displayExpr="name" placeholder="انتخاب واحد" (onValueChanged)="departmentChange()">
            </dx-select-box>
        </div>
        <div class="d-flex mx-4 mb-5">
            <dx-select-box [(value)]="pageData.selectedMonth" [dataSource]="pageData.month" valueExpr="id"
                displayExpr="name" placeholder="انتخاب ماه" (onValueChanged)="monthChange()">
            </dx-select-box>
        </div>
        <div class="d-flex column-gap mx-4 mb-5">
            <dx-date-box type="date" name="date" label="از تاریخ" labelMode="floating"
                [(value)]="pageData.selectedFromDate" (onValueChanged)="fromDateChange()">
            </dx-date-box>
            <dx-date-box type="date" name="date" label="تا تاریخ" labelMode="floating"
                [(value)]="pageData.selectedToDate">
            </dx-date-box>
        </div>
    </div>
    <div class="mx-4 my-4">
        <div class="d-flex flex-column justify-center my-4">
            <dx-data-grid [dataSource]="pageData.employees" keyExpr="id"
                [customizeColumns]="pageData.customizeTimeSheetEmployeeColumns" [hoverStateEnabled]="true" height="100%"
                noDataText=".داده ای وجود ندارد">
                <dxi-column dataField="id">
                </dxi-column>
                <dxi-column dataField="code">
                </dxi-column>
                <dxi-column dataField="fName">
                </dxi-column>
                <dxi-column dataField="lName">
                </dxi-column>
                <dxi-column dataField="department" [(filterValue)]="pageData.selectedDepartment">
                </dxi-column>
                <dxi-column type="buttons">
                    <dxi-button icon="eyeopen" hint="نمایش کارکرد" [onClick]="onViewTimeSheet">
                    </dxi-button>
                </dxi-column>
                <dxo-selection mode="single"></dxo-selection>
                <dxo-filter-row [visible]="true"></dxo-filter-row>
                <dxo-header-filter [visible]="true"></dxo-header-filter>
                <dxo-scrolling mode="virtual"></dxo-scrolling>
                <dxo-paging [enabled]="true" [pageSize]="10"></dxo-paging>
            </dx-data-grid>
        </div>
    </div>
</div>

<h2 class="content-block">جزئیات کارکرد</h2>
<div *ngIf="!showTimeSheetDetails" class="dx-card wide-card mx-4 mt-4 p-4">
    <label>پرسنلی انتخاب نشده است!</label>
</div>
<div *ngIf="showTimeSheetDetails" class="dx-card wide-card mx-4 mt-4 p-4">
    <div class="d-flex items-center column-gap my-3">
        <label class="text-primary">
            نام و نام خانوادگی:
        </label>
        <p class="text-muted">
            {{selectedEmployee.fName}} + {{selectedEmployee.lName}}
        </p>
    </div>
    <div class="d-flex items-center column-gap my-3">
        <label class="text-primary">
            کد پرسنلی:
        </label>
        <p class="text-muted">
            {{selectedEmployee.code}}

        </p>
    </div>
    <div class="d-flex items-center column-gap my-3">
        <label class="text-primary">
            محل خدمت:
        </label>
        <p class="text-muted">
            {{selectedEmployee.department}}
        </p>
    </div>
    <div class="d-flex flex-column justify-center my-4">
        <dx-data-grid [dataSource]="pageData.employeeTimeSheet" keyExpr="id"
            [customizeColumns]="pageData.customizeTimeSheetDetailsColumns" [hoverStateEnabled]="true" height="100%"
            noDataText=".داده ای وجود ندارد">
            <dxi-column dataField="id">
            </dxi-column>
            <dxi-column dataField="date">
            </dxi-column>
            <dxi-column dataField="shiftType">
            </dxi-column>
            <dxi-column dataField="startTime">
            </dxi-column>
            <dxi-column dataField="endTime">
            </dxi-column>
            <dxi-column dataField="charged">
            </dxi-column>
            <dxi-column dataField="timeSheet">
            </dxi-column>
            <dxi-column dataField="delay">
            </dxi-column>
            <dxi-column dataField="rush">
            </dxi-column>
            <dxi-column dataField="overtime">
            </dxi-column>
            <dxi-column dataField="lowtime">
            </dxi-column>
            <dxo-selection mode="single"></dxo-selection>
            <dxo-filter-row [visible]="true"></dxo-filter-row>
            <dxo-header-filter [visible]="true"></dxo-header-filter>
            <dxo-scrolling mode="virtual"></dxo-scrolling>
            <dxo-paging [enabled]="true" [pageSize]="10"></dxo-paging>
        </dx-data-grid>
    </div>
</div>
