<div *ngIf="pageData.formType==='customers'" id="scrolledtabs" class="dx-card wide-card mx-4">
    <h2 class="content-block">اشخاص</h2>
    <!-- <dx-tabs [dataSource]="pageData.tabs" [scrollByContent]="true" [showNavButtons]="true"
        (onItemClick)="selectTab($event)" [selectedItem]="pageData.tabs[0]" selectionMode="single"></dx-tabs> -->
    <div *ngIf="pageData.tabContent==='tab1'" class="d-flex flex-column justify-center my-4">
        <dx-data-grid [dataSource]="pageData.persons" [customizeColumns]="pageData.customizePersonColumns"
            [hoverStateEnabled]="true" [(selectedRowKeys)]="pageData.gridBoxValue" height="100%"
            noDataText=".داده ای وجود ندارد" dataRowTemplate="dataRowTemplateName">
            <ng-container *dxTemplate="let person of 'dataRowTemplateName'">
                <tr class="designsData text-center">
                    <td>{{person.data.id}}</td>
                    <td>{{person.data.name}}</td>
                    <td>{{person.data.type}}</td>
                    <td>{{person.data.description}}</td>
                    <td>{{person.data.date}}</td>
                    <!-- <td class="text-center">
                        <dx-button icon="{{person.data.edit}}" text="" class="text-warning"
                            (onClick)="onEditPerson(person.data)">
                        </dx-button>
                    </td> -->
                    <td class="text-center">
                        <dx-button icon="{{person.data.view}}" text="" class="text-info"
                            (onClick)="onViewPerson(person.data)">
                        </dx-button>
                    </td>
                </tr>
            </ng-container>
            <dxo-selection mode="single"></dxo-selection>
            <!-- <dxo-filter-row [visible]="true"></dxo-filter-row> -->
            <!-- <dxo-header-filter [visible]="true"></dxo-header-filter> -->
            <dxo-scrolling mode="virtual"></dxo-scrolling>
            <dxo-paging [enabled]="true" [pageSize]="10"></dxo-paging>
        </dx-data-grid>
        <!-- <div>
            <dx-button text="افزودن شخص جدید" icon="add" type="default" (onClick)="showNewDocForm($event)"
                class="m-3"></dx-button>
        </div> -->
    </div>
    <!-- <dx-popup [width]="400" [height]="600" [hideOnOutsideClick]="false" [showCloseButton]="true"
        [(visible)]="pageData.NewFormVisible" title="مشخصات شخص جدید">
        <div *dxTemplate="let data of 'content'">
            <dx-scroll-view width="100%" height="100%">
                <div class="content">
                    <dx-text-box class="my-2" name="name" label="نام مشتری" labelMode="floating"
                        [(value)]="pageData.newFormData.name">
                    </dx-text-box>
                    <dx-select-box placeholder="" class="my-2" [dataSource]="pageData.customerType" valueExpr="text"
                        displayExpr="text" label="نوع مشتری" name="type" labelMode="floating"
                        [(value)]="pageData.newFormData.type">
                    </dx-select-box>
                    <dx-text-area class="my-2" name="description" [maxLength]="500" label="توضیحات" labelMode="floating"
                        [minHeight]="50" [maxHeight]="300" [autoResizeEnabled]="true" height="100px"
                        [(value)]="pageData.newFormData.description">
                    </dx-text-area>
                    <dx-date-box type="date" name="date" label="تاریخ ثبت مشتری" labelMode="floating"
                        [(value)]="pageData.newFormData.date">
                    </dx-date-box>
                </div>
            </dx-scroll-view>
        </div>
        <dxi-toolbar-item widget="dxButton" toolbar="bottom" location="center"
            [options]="pageData.NewFormButtonOptions">
        </dxi-toolbar-item>
    </dx-popup> -->
    <!-- <dx-popup [width]="400" [height]="600" [hideOnOutsideClick]="false" [showCloseButton]="true"
        [(visible)]="pageData.EditFormVisible" title="ویرایش مشخصات مشتری">
        <div *dxTemplate="let data of 'content'">
            <dx-scroll-view width="100%" height="100%">
                <div class="content">
                    <dx-text-box class="my-2" name="name" label="نام مشتری" labelMode="floating"
                        [(value)]="pageData.editFormData.name">
                    </dx-text-box>
                    <dx-select-box placeholder="" class="my-2" [dataSource]="pageData.customerType" valueExpr="text"
                        displayExpr="text" label="نوع مشتری" name="type" labelMode="floating"
                        [(value)]="pageData.editFormData.type">
                    </dx-select-box>
                    <dx-text-area class="my-2" name="description" [maxLength]="500" label="توضیحات" labelMode="floating"
                        [minHeight]="50" [maxHeight]="300" [autoResizeEnabled]="true" height="100px" editFormData>
                    </dx-text-area>
                    <dx-date-box type="date" name="date" label="تاریخ ثبت مشتری" labelMode="floating"
                        [(value)]="pageData.editFormData.date">
                    </dx-date-box>
                </div>
            </dx-scroll-view>
        </div>
        <dxi-toolbar-item widget="dxButton" toolbar="bottom" location="center"
            [options]="pageData.EditDocFormButtonOptions">
        </dxi-toolbar-item>
    </dx-popup> -->
    <dx-popup [width]="600" height="auto" [hideOnOutsideClick]="true" [showCloseButton]="true"
        [(visible)]="pageData.ViewFormVisible" title="مشخصات مشتری">
        <div *dxTemplate="let data of 'content'">
            <dx-scroll-view width="100%" height="100%">
                <div class="content">
                    <div class="d-flex items-center column-gap my-3">
                        <label class="text-primary">
                            نام مشتری:
                        </label>
                        <p class="text-muted">
                            {{pageData.viewFormData.name}}
                        </p>
                    </div>
                    <hr>
                    <div class="d-flex items-center column-gap my-3">
                        <label class="text-primary">
                            نوع مشتری:
                        </label>
                        <p class="text-muted">
                            {{pageData.viewFormData.type}}
                        </p>
                    </div>
                    <hr>
                    <div class="d-flex items-center column-gap my-3">
                        <label class="text-primary">
                            توضیحات:
                        </label>
                        <p class="text-muted">
                            {{pageData.viewFormData.description}}
                        </p>
                    </div>
                    <hr>
                    <div class="d-flex items-center column-gap my-3">
                        <label class="text-primary">
                            تاریخ ثبت مشتری:
                        </label>
                        <p class="text-muted">
                            {{pageData.viewFormData.date}}
                        </p>
                    </div>
                </div>
            </dx-scroll-view>
        </div>
    </dx-popup>
</div>

<div *ngIf="pageData.formType==='list'" id="scrolledtabs" class="dx-card wide-card mx-4">
    <h2 class="content-block">پرسنل</h2>
    <!-- <dx-tabs [dataSource]="pageData.tabs" [scrollByContent]="true" [showNavButtons]="true"
        (onItemClick)="selectTab($event)" [selectedItem]="pageData.tabs[0]" selectionMode="single"></dx-tabs> -->
    <div *ngIf="pageData.tabContent==='tab1'" class="d-flex flex-column justify-center my-4">
        <dx-data-grid [dataSource]="pageData.persons" [customizeColumns]="pageData.customizePersonColumns"
            [hoverStateEnabled]="true" [(selectedRowKeys)]="pageData.gridBoxValue" height="100%"
            noDataText=".داده ای وجود ندارد" dataRowTemplate="dataRowTemplateName">
            <ng-container *dxTemplate="let person of 'dataRowTemplateName'">
                <tr class="designsData text-center">
                    <td>{{person.data.id}}</td>
                    <td>{{person.data.name}}</td>
                    <td>{{person.data.type}}</td>
                    <td>{{person.data.description}}</td>
                    <td>{{person.data.date}}</td>
                    <!-- <td class="text-center">
                        <dx-button icon="{{person.data.edit}}" text="" class="text-warning"
                            (onClick)="onEditPerson(person.data)">
                        </dx-button>
                    </td> -->
                    <td class="text-center">
                        <dx-button icon="{{person.data.view}}" text="" class="text-info"
                            (onClick)="onViewPerson(person.data)">
                        </dx-button>
                    </td>
                </tr>
            </ng-container>
            <dxo-selection mode="single"></dxo-selection>
            <!-- <dxo-filter-row [visible]="true"></dxo-filter-row> -->
            <!-- <dxo-header-filter [visible]="true"></dxo-header-filter> -->
            <dxo-scrolling mode="virtual"></dxo-scrolling>
            <dxo-paging [enabled]="true" [pageSize]="10"></dxo-paging>
        </dx-data-grid>
        <!-- <div>
            <dx-button text="افزودن شخص جدید" icon="add" type="default" (onClick)="showNewDocForm($event)"
                class="m-3"></dx-button>
        </div> -->
    </div>
    <!-- <dx-popup [width]="400" [height]="600" [hideOnOutsideClick]="false" [showCloseButton]="true"
        [(visible)]="pageData.NewFormVisible" title="مشخصات شخص جدید">
        <div *dxTemplate="let data of 'content'">
            <dx-scroll-view width="100%" height="100%">
                <div class="content">
                    <dx-text-box class="my-2" name="name" label="نام مشتری" labelMode="floating"
                        [(value)]="pageData.newFormData.name">
                    </dx-text-box>
                    <dx-select-box placeholder="" class="my-2" [dataSource]="pageData.customerType" valueExpr="text"
                        displayExpr="text" label="نوع مشتری" name="type" labelMode="floating"
                        [(value)]="pageData.newFormData.type">
                    </dx-select-box>
                    <dx-text-area class="my-2" name="description" [maxLength]="500" label="توضیحات" labelMode="floating"
                        [minHeight]="50" [maxHeight]="300" [autoResizeEnabled]="true" height="100px"
                        [(value)]="pageData.newFormData.description">
                    </dx-text-area>
                    <dx-date-box type="date" name="date" label="تاریخ ثبت مشتری" labelMode="floating"
                        [(value)]="pageData.newFormData.date">
                    </dx-date-box>
                </div>
            </dx-scroll-view>
        </div>
        <dxi-toolbar-item widget="dxButton" toolbar="bottom" location="center"
            [options]="pageData.NewFormButtonOptions">
        </dxi-toolbar-item>
    </dx-popup> -->
    <!-- <dx-popup [width]="400" [height]="600" [hideOnOutsideClick]="false" [showCloseButton]="true"
        [(visible)]="pageData.EditFormVisible" title="ویرایش مشخصات مشتری">
        <div *dxTemplate="let data of 'content'">
            <dx-scroll-view width="100%" height="100%">
                <div class="content">
                    <dx-text-box class="my-2" name="name" label="نام مشتری" labelMode="floating"
                        [(value)]="pageData.editFormData.name">
                    </dx-text-box>
                    <dx-select-box placeholder="" class="my-2" [dataSource]="pageData.customerType" valueExpr="text"
                        displayExpr="text" label="نوع مشتری" name="type" labelMode="floating"
                        [(value)]="pageData.editFormData.type">
                    </dx-select-box>
                    <dx-text-area class="my-2" name="description" [maxLength]="500" label="توضیحات" labelMode="floating"
                        [minHeight]="50" [maxHeight]="300" [autoResizeEnabled]="true" height="100px" editFormData>
                    </dx-text-area>
                    <dx-date-box type="date" name="date" label="تاریخ ثبت مشتری" labelMode="floating"
                        [(value)]="pageData.editFormData.date">
                    </dx-date-box>
                </div>
            </dx-scroll-view>
        </div>
        <dxi-toolbar-item widget="dxButton" toolbar="bottom" location="center"
            [options]="pageData.EditDocFormButtonOptions">
        </dxi-toolbar-item>
    </dx-popup> -->
    <dx-popup [width]="600" height="auto" [hideOnOutsideClick]="true" [showCloseButton]="true"
        [(visible)]="pageData.ViewFormVisible" title="مشخصات مشتری">
        <div *dxTemplate="let data of 'content'">
            <dx-scroll-view width="100%" height="100%">
                <div class="content">
                    <div class="d-flex items-center column-gap my-3">
                        <label class="text-primary">
                            نام مشتری:
                        </label>
                        <p class="text-muted">
                            {{pageData.viewFormData.name}}
                        </p>
                    </div>
                    <hr>
                    <div class="d-flex items-center column-gap my-3">
                        <label class="text-primary">
                            نوع مشتری:
                        </label>
                        <p class="text-muted">
                            {{pageData.viewFormData.type}}
                        </p>
                    </div>
                    <hr>
                    <div class="d-flex items-center column-gap my-3">
                        <label class="text-primary">
                            توضیحات:
                        </label>
                        <p class="text-muted">
                            {{pageData.viewFormData.description}}
                        </p>
                    </div>
                    <hr>
                    <div class="d-flex items-center column-gap my-3">
                        <label class="text-primary">
                            تاریخ ثبت مشتری:
                        </label>
                        <p class="text-muted">
                            {{pageData.viewFormData.date}}
                        </p>
                    </div>
                </div>
            </dx-scroll-view>
        </div>
    </dx-popup>
</div>

<div *ngIf="pageData.formType==='calendar'" id="scrolledtabs" class="dx-card wide-card mx-4">
    <h2 class="content-block">تقویم کاری</h2>
    <!-- <dx-tabs [dataSource]="pageData.tabs" [scrollByContent]="true" [showNavButtons]="true"
        (onItemClick)="selectTab($event)" [selectedItem]="pageData.tabs[0]" selectionMode="single"></dx-tabs> -->
    <div class="d-flex flex-column justify-center my-4">
        <div class="d-flex mx-4 mb-5">
            <dx-select-box [(value)]="pageData.selectedMonth" [dataSource]="pageData.month" valueExpr="id" displayExpr="name" placeholder="انتخاب ماه" (onValueChanged)="monthChange()">
            </dx-select-box>
        </div>
        <div class="d-flex column-gap mx-4 mb-5">
            <dx-date-box type="date" name="date" label="از تاریخ" labelMode="floating" [(value)]="pageData.selectedFromDate" (onValueChanged)="fromDateChange()">
            </dx-date-box>
            <dx-date-box type="date" name="date" label="تا تاریخ" labelMode="floating" [(value)]="pageData.selectedToDate">
            </dx-date-box>
        </div>
        <dx-data-grid [dataSource]="pageData.employees" [customizeColumns]="pageData.customizeEmployeeColumns"
            [hoverStateEnabled]="true" [(selectedRowKeys)]="pageData.gridBoxValue" height="100%"
            noDataText=".داده ای وجود ندارد" dataRowTemplate="dataRowTemplateName">
            <ng-container *dxTemplate="let person of 'dataRowTemplateName'">
                <tr class="designsData text-center">
                    <td>{{person.data.id}}</td>
                    <td>{{person.data.code}}</td>
                    <td>{{person.data.fullName}}</td>
                    <td>{{person.data.month}}</td>
                    <td>{{person.data.department}}</td>
                    <!-- <td class="text-center">
                        <dx-button icon="{{person.data.edit}}" text="" class="text-warning"
                            (onClick)="onEditPerson(person.data)">
                        </dx-button>
                    </td> -->
                    <td>{{person.data.date}}</td>
                    <td class="text-center">
                        <dx-button icon="{{person.data.view}}" text="" class="text-info"
                            (onClick)="onViewPerson(person.data)">
                        </dx-button>
                    </td>
                </tr>
            </ng-container>
            <dxo-selection mode="single"></dxo-selection>
            <dxo-filter-row [visible]="true"></dxo-filter-row>
            <dxo-header-filter [visible]="true"></dxo-header-filter>
            <dxo-scrolling mode="virtual"></dxo-scrolling>
            <dxo-paging [enabled]="true" [pageSize]="10"></dxo-paging>
        </dx-data-grid>
        <!-- <div>
            <dx-button text="افزودن شخص جدید" icon="add" type="default" (onClick)="showNewDocForm($event)"
                class="m-3"></dx-button>
        </div> -->
    </div>
    <!-- <dx-popup [width]="400" [height]="600" [hideOnOutsideClick]="false" [showCloseButton]="true"
        [(visible)]="pageData.NewFormVisible" title="مشخصات شخص جدید">
        <div *dxTemplate="let data of 'content'">
            <dx-scroll-view width="100%" height="100%">
                <div class="content">
                    <dx-text-box class="my-2" name="name" label="نام مشتری" labelMode="floating"
                        [(value)]="pageData.newFormData.name">
                    </dx-text-box>
                    <dx-select-box placeholder="" class="my-2" [dataSource]="pageData.customerType" valueExpr="text"
                        displayExpr="text" label="نوع مشتری" name="type" labelMode="floating"
                        [(value)]="pageData.newFormData.type">
                    </dx-select-box>
                    <dx-text-area class="my-2" name="description" [maxLength]="500" label="توضیحات" labelMode="floating"
                        [minHeight]="50" [maxHeight]="300" [autoResizeEnabled]="true" height="100px"
                        [(value)]="pageData.newFormData.description">
                    </dx-text-area>
                    <dx-date-box type="date" name="date" label="تاریخ ثبت مشتری" labelMode="floating"
                        [(value)]="pageData.newFormData.date">
                    </dx-date-box>
                </div>
            </dx-scroll-view>
        </div>
        <dxi-toolbar-item widget="dxButton" toolbar="bottom" location="center"
            [options]="pageData.NewFormButtonOptions">
        </dxi-toolbar-item>
    </dx-popup> -->
    <!-- <dx-popup [width]="400" [height]="600" [hideOnOutsideClick]="false" [showCloseButton]="true"
        [(visible)]="pageData.EditFormVisible" title="ویرایش مشخصات مشتری">
        <div *dxTemplate="let data of 'content'">
            <dx-scroll-view width="100%" height="100%">
                <div class="content">
                    <dx-text-box class="my-2" name="name" label="نام مشتری" labelMode="floating"
                        [(value)]="pageData.editFormData.name">
                    </dx-text-box>
                    <dx-select-box placeholder="" class="my-2" [dataSource]="pageData.customerType" valueExpr="text"
                        displayExpr="text" label="نوع مشتری" name="type" labelMode="floating"
                        [(value)]="pageData.editFormData.type">
                    </dx-select-box>
                    <dx-text-area class="my-2" name="description" [maxLength]="500" label="توضیحات" labelMode="floating"
                        [minHeight]="50" [maxHeight]="300" [autoResizeEnabled]="true" height="100px" editFormData>
                    </dx-text-area>
                    <dx-date-box type="date" name="date" label="تاریخ ثبت مشتری" labelMode="floating"
                        [(value)]="pageData.editFormData.date">
                    </dx-date-box>
                </div>
            </dx-scroll-view>
        </div>
        <dxi-toolbar-item widget="dxButton" toolbar="bottom" location="center"
            [options]="pageData.EditDocFormButtonOptions">
        </dxi-toolbar-item>
    </dx-popup> -->
    <dx-popup [width]="600" height="auto" [hideOnOutsideClick]="true" [showCloseButton]="true"
        [(visible)]="pageData.ViewFormVisible" title="مشخصات مشتری">
        <div *dxTemplate="let data of 'content'">
            <dx-scroll-view width="100%" height="100%">
                <div class="content">
                    <div class="d-flex items-center column-gap my-3">
                        <label class="text-primary">
                            نام مشتری:
                        </label>
                        <p class="text-muted">
                            {{pageData.viewFormData.name}}
                        </p>
                    </div>
                    <hr>
                    <div class="d-flex items-center column-gap my-3">
                        <label class="text-primary">
                            نوع مشتری:
                        </label>
                        <p class="text-muted">
                            {{pageData.viewFormData.type}}
                        </p>
                    </div>
                    <hr>
                    <div class="d-flex items-center column-gap my-3">
                        <label class="text-primary">
                            توضیحات:
                        </label>
                        <p class="text-muted">
                            {{pageData.viewFormData.description}}
                        </p>
                    </div>
                    <hr>
                    <div class="d-flex items-center column-gap my-3">
                        <label class="text-primary">
                            تاریخ ثبت مشتری:
                        </label>
                        <p class="text-muted">
                            {{pageData.viewFormData.date}}
                        </p>
                    </div>
                </div>
            </dx-scroll-view>
        </div>
    </dx-popup>
</div>