<!-- New Product -->
<div *ngIf="pageData.formType==='new'">
    <h2 class="content-block">ثبت محصول تولید فیلم</h2>
    <div class="dx-card wide-card mx-4">
        <div class="responsive-paddings">
            <div class="d-flex flex-column">
                <div class="d-flex flex-md-column column-gap my-3">
                    <dx-text-box class="my-2" name="id" label="شناسه محصول" labelMode="floating">
                    </dx-text-box>
                    <dx-text-box class="my-2" name="name" label="نام محصول" labelMode="floating">
                    </dx-text-box>
                    <dx-text-box class="my-2" name="latinName" label="نام محصول به انگلیسی" labelMode="floating">
                    </dx-text-box>
                    <dx-select-box placeholder="" class="my-2" [dataSource]="printSystemCode" valueExpr="id"
                        displayExpr="text" label="کد سیستم چاپ" labelMode="floating">
                    </dx-select-box>
                </div>
                <div class="d-flex flex-md-column column-gap my-3">
                    <dx-select-box placeholder="" class="my-2" [dataSource]="unit" valueExpr="id" displayExpr="text"
                        label="واحد" labelMode="floating">
                    </dx-select-box>
                    <dx-number-box class="my-2" name="GSM" [step]="1" [min]="0" [max]="1000" format="#,##0.00"
                        label="گرماژ" labelMode="floating" [showSpinButtons]="true">
                    </dx-number-box>
                    <dx-text-box class="my-2" name="preCode" label="پیش کد" labelMode="floating">
                    </dx-text-box>
                    <dx-number-box class="my-2" name="boobin" [step]="1" [min]="0" [max]="1000" label="بوبین"
                        labelMode="floating" [showSpinButtons]="true">
                    </dx-number-box>
                </div>
                <div class="d-flex flex-md-column column-gap my-3">
                    <dx-select-box placeholder="" class="my-2" [dataSource]="threatmentPosition" valueExpr="id"
                        displayExpr="text" label="موقعیت تریتمنت" labelMode="floating">
                    </dx-select-box>
                    <dx-select-box placeholder="" class="my-2" [dataSource]="COF" valueExpr="id" displayExpr="text"
                        label="COF" labelMode="floating">
                    </dx-select-box>
                    <dx-select-box placeholder="" class="my-2" [dataSource]="threatmentPosition" valueExpr="id"
                        displayExpr="text" label="طرف دوخت" labelMode="floating">
                    </dx-select-box>
                    <dx-select-box placeholder="" class="my-2" [dataSource]="metalPowderPosition" valueExpr="id"
                        displayExpr="text" label="موقعیت پودر متال" labelMode="floating">
                    </dx-select-box>
                </div>
                <div class="d-flex flex-md-column column-gap my-3">
                    <dx-select-box placeholder="" class="my-2" [dataSource]="packingType" valueExpr="id"
                        displayExpr="text" label="نوع بسته بندی" labelMode="floating">
                    </dx-select-box>
                    <dx-check-box class="my-2" text="آنتی استاتیک" width="200px">
                    </dx-check-box>
                    <dx-check-box class="my-2" text="آنتی فاگ" width="200px">
                    </dx-check-box>
                    <dx-check-box class="my-2" text="دوخت پذیر" width="200px">
                    </dx-check-box>
                    <dx-check-box class="my-2" text="متالایز" width="200px">
                    </dx-check-box>
                </div>
            </div>
        </div>
        <div class="d-flex justify-center my-4">
            <dx-button type="default" text="ثبت محصول جدید" (onClick)="onSubmitNewProduct()">
            </dx-button>
        </div>
    </div>
</div>

<!-- My Products -->
<div *ngIf="pageData.formType==='list'">
    <h2 class="content-block">محصولات تولید فیلم</h2>
    <div class="dx-card wide-card mx-4">
        <div class="d-flex flex-column justify-center my-4">
            <dx-data-grid [dataSource]="pageData.products" [customizeColumns]="pageData.customizeProductsColumns"
                [hoverStateEnabled]="true" [(selectedRowKeys)]="pageData.gridBoxValue" height="100%"
                noDataText=".داده ای وجود ندارد" dataRowTemplate="dataRowTemplateName">
                <ng-container *dxTemplate="let product of 'dataRowTemplateName'">
                    <tr class="productsData text-center">
                        <td>{{product.data.id}}</td>
                        <td>{{product.data.filmId}}</td>
                        <td>{{product.data.name}}</td>
                        <td>{{product.data.unit}}</td>
                        <td>{{product.data.printProductCode}}</td>
                        <td>{{product.data.gsm}}</td>
                        <td>{{product.data.preCode}}</td>
                        <td>{{product.data.boobin}}</td>
                        <td>
                            <dx-button [icon]="product.data.threatment ? 'check' : 'close'" [class]="product.data.threatment ? 'text-success' : 'text-danger'">
                            </dx-button>
                        </td>
                        <td>{{product.data.thretmentPosition}}</td>
                        <td>{{product.data.friction}}</td>
                        <td>
                            <dx-button [icon]="product.data.antiStatic ? 'check' : 'close'" [class]="product.data.antiStatic ? 'text-success' : 'text-danger'">
                            </dx-button>
                        </td>
                        <td>
                            <dx-button [icon]="product.data.antiFug ? 'check' : 'close'" [class]="product.data.antiFug ? 'text-success' : 'text-danger'">
                            </dx-button>
                        </td>
                        <td>
                            <dx-button [icon]="product.data.sewable ? 'check' : 'close'" [class]="product.data.sewable ? 'text-success' : 'text-danger'">
                            </dx-button>
                        </td>
                        <td>{{product.data.sewablePosition}}</td>
                        <td>{{product.data.packageType}}</td>
                        <td>{{product.data.description}}</td>
                    </tr>
                </ng-container>
                <dxo-selection mode="single"></dxo-selection>
                <dxo-filter-row [visible]="true"></dxo-filter-row>
                <!-- <dxo-header-filter [visible]="true"></dxo-header-filter> -->
                <dxo-scrolling mode="virtual"></dxo-scrolling>
                <dxo-paging [enabled]="true" [pageSize]="10"></dxo-paging>
            </dx-data-grid>
        </div>
    </div>
</div>