.form-avatar {
  float: left;
  height: 120px;
  width: 120px;

  img {
    width: 120px;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
  }
}

@media screen and (max-width: 768px) {
  .w-md-100 {
      width: 100% !important;
  }

  .flex-md-column {
      flex-direction: column;
  }
}