<!-- New Order -->
<div *ngIf="pageData.formType==='new'">
    <h2 class="content-block">ثبت سفارش جدید</h2>
    <div class="content-block">
        <div class="dx-card responsive-paddings">
            <div class="lable-box">
                مشخصات محصول
            </div>
            <hr>
            <div class="d-flex justify-around flex-md-column">
                <div class="d-flex flex-column my-3">
                    <dx-number-box format="#,##0.00" class="my-2" name="code" [step]="1" [min]="0" [max]="1000" label="کد محصول"
                        labelMode="floating" [showSpinButtons]="true">
                    </dx-number-box>
                    <dx-text-box class="my-2" name="name" label="نام محصول" labelMode="floating">
                    </dx-text-box>
                </div>
                <div class="d-flex flex-column my-3">
                    <dx-number-box format="#,##0.00" class="my-2" name="amount" [step]="1" [min]="0" [max]="1000" label="مقدار سفارش"
                        labelMode="floating" [showSpinButtons]="true">
                    </dx-number-box>
                    <dx-select-box [dataSource]="unit" valueExpr="id" displayExpr="name" class="my-2" name="unit"
                        label="واحد" labelMode="floating" placeholder="">
                    </dx-select-box>
                </div>
            </div>
            <div class="d-flex flex-column w-75 w-md-100 m-auto my-3">
                <dx-text-area class="my-2" name="description" [maxLength]="500" label="توضیحات" labelMode="floating"
                    [minHeight]="50" [maxHeight]="300" [autoResizeEnabled]="true" height="100px">
                </dx-text-area>
            </div>
            <div class="d-flex flex-column my-3">
                <dx-file-uploader [allowedFileExtensions]="fileExtention" [allowCanceling]="true"
                    selectButtonText="بارگزاری تصویر محصول" labelText="یا فایل را در این قسمت بکشید...">
                </dx-file-uploader>
                <!-- (onValueChanged)="getFilesUploaded($event, 1, 'فایل طرح')" -->
            </div>
        </div>
        <div class="dx-card responsive-paddings">
            <div class="lable-box">
                مشخصات تحویل گیرنده
            </div>
            <hr>
            <div class="d-flex flex-column w-75 w-md-100 m-auto">
                <dx-select-box [dataSource]="address" valueExpr="id" displayExpr="name" class="my-2" name="address"
                    label="محل تحویل" labelMode="floating" placeholder="">
                </dx-select-box>
                <div class="d-flex flex-column my-3">
                    <dx-text-area class="my-2" name="description" [maxLength]="500" label="توضیحات" labelMode="floating"
                        [minHeight]="50" [maxHeight]="300" [autoResizeEnabled]="true" height="100px">
                    </dx-text-area>
                </div>
            </div>
        </div>
        <div class="d-flex justify-center my-4">
            <dx-button type="default" text="ثبت سفارش جدید" (onClick)="onSubmitOrder()">
            </dx-button>
        </div>
    </div>
</div>

<!-- My Orders -->
<div *ngIf="pageData.formType==='list'">
    <h2 class="content-block">سفارشات من</h2>
    <dx-data-grid class="dx-card wide-card mx-4" [dataSource]="dataSource" [showBorders]="false"
        [focusedRowEnabled]="true" [focusedRowIndex]="0" [columnAutoWidth]="true" [columnHidingEnabled]="true">
        <dxo-paging [pageSize]="10"></dxo-paging>
        <dxo-pager [showPageSizeSelector]="true" [showInfo]="true"></dxo-pager>
        <dxo-filter-row [visible]="true"></dxo-filter-row>

        <dxi-column dataField="Task_ID" [width]="90" [hidingPriority]="2">
        </dxi-column>
        <dxi-column dataField="Task_Subject" [width]="190" caption="Subject" [hidingPriority]="8">
        </dxi-column>
        <dxi-column dataField="Task_Status" caption="Status" [hidingPriority]="6">
        </dxi-column>
        <dxi-column dataField="Task_Priority" caption="Priority" [hidingPriority]="5">
            <dxo-lookup [dataSource]="priority" valueExpr="value" displayExpr="name">
            </dxo-lookup>
        </dxi-column>
        <dxi-column dataField="ResponsibleEmployee.Employee_Full_Name" caption="Assigned To" [allowSorting]="false"
            [hidingPriority]="7">
        </dxi-column>
        <dxi-column dataField="Task_Start_Date" caption="Start Date" dataType="date" [hidingPriority]="3">
        </dxi-column>
        <dxi-column dataField="Task_Due_Date" caption="Due Date" dataType="date" [hidingPriority]="4">
        </dxi-column>
        <dxi-column dataField="Task_Priority" caption="Priority" name="Priority" [hidingPriority]="1">
        </dxi-column>
        <dxi-column dataField="Task_Completion" caption="Completion" [hidingPriority]="0">
        </dxi-column>
    </dx-data-grid>
    <div class="d-flex justify-center my-4">
        <dx-button type="default" text="تکرار سفارش">
        </dx-button>
    </div>
</div>