.dx-card {
    margin-block: 1rem;
}

.lable-box {
    display: flex;
    font-size: 18px;
    font-weight: 400;
    margin-inline: 0.5rem;

    p {
        margin-inline: .5rem;
    }
}

.packing-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-block: 2rem;
    margin-inline: 0.5rem;
}

.packing-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-inline: 1.2rem;

    img {
        margin-bottom: 1.2rem;
    }
}

.cold-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-block: 2rem;
    margin-inline: 0.5rem;
}

.cold-box-input {
    display: flex;
    flex-direction: column;
    margin-block: 2rem;
}

.cold-box-input-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-block: 1rem;
    margin-inline: 0.5rem;

    p {
        min-width: 100px;
    }
}

.cold-item {
    display: flex;
    align-items: center;
}


.packeting-box {
    display: flex;
    margin-inline: 0.5rem;
    margin-block: 2rem;
}

.packeting-item {
    display: flex;
    justify-content: center;
    margin-inline: 1.2rem;

    p {
        min-width: 150px;
    }

    input {
        margin-inline: .5rem;
    }
}

input[type=number],
input[type=text] {
    height: 35px;
    margin-inline: .5rem;
    background: #fff;
    border: 1px solid #D0D0DF;
    color: #818190;
    width: 100%;
    max-width: 240px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    box-shadow: inset 0 0 0 var(--border-width, 1px) var(--border, var(--border-default)), 0 1px 3px var(--shadow, var(--shadow-default));
    transition: box-shadow .2s;
}

button {
    min-width: 200px;
    background-color: #6af1e2;
    font-weight: bold;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #666;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-inline: .5rem;
}

button:hover,
button:focus {
    background-color: #ccc;
}

::ng-deep .packageType .dx-radiobutton {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;

    .dx-radio-value-container {
        padding-inline-end: 0px !important;
    }
}

::ng-deep .packageType .dx-widget {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;
    column-gap: 2.5rem;
}

::ng-deep .dx-checkbox-icon {
    margin-left: 15px;
}

::ng-deep .dx-selectbox .dx-texteditor-input:read-only {
    font-family: vazir, sans-serif;
}

::ng-deep .dx-empty-message {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

hr {
    width: 60%;
    height: 1px;
    background-color: #efefef;
    border: none;
    margin: 10px 0;
}

.disabled {
    opacity: .38;
}

.dx-field-value {
    width: 100% !important;
}

.designsData td {
    vertical-align: middle !important;
}

.imagePreview {
    width: 100px;
    height: 100px;
    overflow: hidden;
}

.fileTypeImage {
    width: 30px;
}

::ng-deep .dx-selectbox .dx-texteditor-input:read-only {
    font-family: vazir, sans-serif;
}

::ng-deep .imagePreviewBox .dx-scrollview-content {
    display: flex;
    flex-wrap: wrap;
}

::ng-deep .imagePreviewBox .dx-list-item,
::ng-deep .imagePreviewBox .dx-list-static-delete-button-container {
    display: flex;
    justify-content: center;
    padding: 10px;
}

::ng-deep .imagePreviewBox .dx-icon-remove {
    color: red !important;
}

::ng-deep .text-info i {
    color: #2563eb !important;
    font-size: 25px !important;
}

::ng-deep .text-purple i {
    color: #9333ea !important;
    font-size: 25px !important;
}

::ng-deep .text-success i {
    color: #22c55e !important;
    font-size: 25px !important;

}

::ng-deep .text-warning i {
    color: #facc15 !important;
    font-size: 25px !important;

}

::ng-deep .text-danger i {
    color: #dc2626 !important;
}

::ng-deep .imagePreviewBox .dx-list-item {
    width: 19% !important;
    background-color: #f5f5f5;
    margin: .5rem !important;
}

::ng-deep .imagePreviewBox .dx-list-item:hover {
    background-color: #ccc !important;
}

::ng-deep .dx-popup-bottom.dx-toolbar {
    padding: 20px !important;
}

@media screen and (max-width: 768px) {
    .flex-md-column {
        flex-direction: column;

        div {
            margin-block: 0.5rem !important;
        }

        ::ng-deep .dx-radiogroup .dx-radiobutton {
            margin-block: 0 !important;
        }
    }

    .order-md-1 {
        order: 1;
    }

    .order-md-2 {
        order: 2;
    }

    .w-md-100 {
        width: 100% !important;
    }

    .d-md-none {
        display: none;
    }

    ::ng-deep .imagePreviewBox .dx-list-item {
        width: 100% !important;
        margin-block: 1rem !important;

        p {
            text-align: start;
        }
    }

    ::ng-deep .imagePreviewBox .dx-scrollable-content {
        width: 100%;
    }
}